<!DOCTYPE html>
<html>
<head>
    <!-- https://bootsnipp.com/snippets/yNa0V -->
    <meta charset="utf-8">
    <title>MyHood</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>

        html, body {
            height: 100%;
        }


        #app-2 {
            height: 100%;
        }


        .login {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }


        .login .card {
            width: 30%;
            display: block;
        }

        .messages {
            position: fixed;
            bottom: 20px;
            right: 20px;
            list-style-type: none;


        }

        .messages li {
            border: 1px solid red;
            background: #ededed;
            padding: 10px;
            margin: 10px 0;
            width: 450px;
            word-wrap: break-word;
        }

        .loader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-weight: bold;
            font-size: 30px;
        }

        .rec {
            float: left;
            width: 30%;
            padding: 20px;
        }
    </style>
</head>
<body>
<div id="app-2">
    <div v-if="isLogged">
        <div class="container-fluid gedf-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <svg class="bi bi-person-bounding-box" width="100%" height="150px" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z"
                                      clip-rule="evenodd"/>
                                <path fill-rule="evenodd"
                                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="h5">{{user.name}} {{user.surname}}</div>
                            <div class="h7 text-muted">{{ moment(user.dateOfBirth).format("DD.MM.YYYY") }}</div>
                            <div class="h7">Пол: <span class="badge badge-info">{{ user.gender }}</span></div>
                            <div class="h7">Интересы: {{user.interests.join(", ")}}
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h6 text-muted">Друзья <span
                                            class="badge badge-info">{{friends.length}}</span></div>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary" v-on:click.prevent="onLogout($event)">Выйти</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <h3>Рекомендации</h3>
                    <div class="card rec text-center" v-for="(user, index) in recommendations">
                        <svg class="bi bi-person-bounding-box" width="100%" height="100px" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z"
                                  clip-rule="evenodd"/>
                            <path fill-rule="evenodd"
                                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">[{{user.id}}] {{user.name}} {{user.surname}}</a></h5>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="#" v-on:click.prevent="addFriend(user.id)" class="btn btn-primary">Добавить в
                                    друзья</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="login" v-else>


        <div class="card" v-if="!isSignup">
            <div class="card-header">
                <strong>Авторизация</strong>
            </div>
            <div class="card-body">
                <form class="login-form" v-on:submit.prevent="onLoginSubmit($event)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input name="email" type="email" required="required" class="form-control"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Пароль</label>
                        <input name="password" minlength="6" required="required" type="password" class="form-control"
                               id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                <button class="btn btn-link" v-on:click.prevent="isSignup = true">Регистрация</button>
            </div>

        </div>
        <div class="card" v-else>
            <div class="card-header">
                <strong>Регистрация</strong>
            </div>
            <div class="card-body">
                <form class="signup-form" v-on:submit="onLoginSubmit($event)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input name="email" type="email" required="required" class="form-control"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Пароль</label>
                        <input name="password" minlength="6" required="required" type="password" class="form-control"
                               id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                <button class="btn btn-link" v-on:click.prevent="isSignup = false">Войти</button>
            </div>

        </div>
    </div>

    <ul class="messages">
        <li v-for="(item, index) in messages">
            {{ item.text }}
        </li>
    </ul>

    <div class="loader" v-if="isLoading">
        Загрузка...
    </div>
</div>

<script>


    var app = new Vue({
        el: '#app-2',
        data: {
            isLogged: false,
            isSignup: false,
            friends: [],
            user: null,
            session: null,
            isLoading: 0,
            recommendations: [],
            messages: []
        },
        created: async function () {
            this.addMessage("Привет!")
            const session = this.lsGet("session");
            if (!session) {
                return
            }
            const user = await this.sessionToUserRequest(session);
            if (!user) {
                return
            }
            await this.onAuthorized(user, session);
        },
        methods: {
            addFriend: async function (userId) {
                await this.addFriendRequest(this.session, userId);
                await this.loadFriends();
                await this.getRecommendations();
            },
            onLoginSubmit: async function (e) {
                const result = await this.authorizeRequest(Object.fromEntries(new FormData(e.srcElement)));
                if (!result) {
                    return
                }
                await this.onAuthorized(result.user, result.session);
            },
            loadFriends: async function () {
                const friends = await this.getFriendsRequest({
                    session: this.session,
                    userId: this.user && this.user.id
                });
                if (friends) {
                    this.setFriendsState(friends);
                }
            },
            getRecommendations: async function () {
                const recommendations = await this.getRecommendationsRequest(this.session)
                if (recommendations) {
                    this.setRecommendationsState(recommendations);
                }
            },
            onAuthorized: async function (user, session) {
                this.setLoginState(user, session);
                await this.loadFriends();
                await this.getRecommendations();

            },
            onLogout: async function (e) {
                await this.logoutRequest(this.session);
                this.setLoginState(null, null);
            },
            setLoginState: function (user, session) {
                this.isLogged = !!user;
                this.user = user;
                this.session = session;
                this.lsSet("session", this.session);
                if (this.isLogged) {
                    this.addMessage(`${this.user.name} успешно авторизован`);
                }
            },
            setRecommendationsState: function (recommendations) {
                this.recommendations = recommendations;
            },
            setFriendsState: function (friends) {
                this.friends = friends;
            },
            addMessage: function (text) {
                this.messages.push({text});
                setTimeout(() => this.messages.pop(), 5000)
            },
            moment: window.moment,
            lsSet: function (key, val) {
                localStorage.setItem(key, JSON.stringify(val));
            },
            lsGet: function (key) {
                const val = localStorage.getItem(key);
                if (val) {
                    return JSON.parse(val);
                }
            },
            sessionToUserRequest: async function (session) {
                const result = await this._request("/v1/auth/checkSession", {session});
                return result && result.user;
            },
            authorizeRequest: async function (data) {
                return await this._request("/v1/auth/login", data);
            },
            getFriendsRequest: async function (data) {
                const result = await this._request("/v1/user/getFriends", data);
                return result && result.friends;
            },
            getRecommendationsRequest: async function (session) {
                const result = await this._request("/v1/user/getRecommendations", {session});
                return result && result.recommendations;
            },
            logoutRequest: async function (session) {
                const result = await this._request("/v1/auth/logout", {session});
                return !!result;
            },
            addFriendRequest: async function (session, friendId) {
                const result = await this._request("/v1/user/addFriend", {session, friendId});
                return !!result;
            },
            _request: async function (apiMethod, data) {
                this.isLoading++;
                try {
                    let response = await fetch(apiMethod, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            meta: {},
                            data
                        })
                    });
                    let result = await response.json();
                    if (!result.success) {
                        throw new Error(`${apiMethod}:\r\n ${result.error && result.error.message || JSON.stringify(result)}`)
                    }
                    return result.data;
                } catch (e) {
                    this.addMessage(e.message);
                } finally {
                    this.isLoading--;
                }
            }
        }
    })
</script>
</body>
</html>